.main-container
{
    width: 100%;
    height:95vh;
}
.main-header
{
    width: 100%;
}
.main-box
{
    width: 100%;
    height: 95%;
    display: flex;
}
.main-sidenav
{
    height: 100%;
    width: 20%;
}
.main-table-container
{
    height: 96%;
    width: 80%;
    padding: 1%;
}
.main-pagination
{
    display: flex;
    justify-content: end;
}
